@use "../abstracts";

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: abstracts.$clr-primary;
  color: abstracts.$clr-light;

  display: grid;
  grid:
    "header header header header" auto
    "...... lists  tasks    ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

h1 {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: -0.3em 0 0.5em;
}
